{% extends 'base.html.twig' %}

{% block title %}Hello TpController!{% endblock %}

{% block body %}
    <section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique</div>
            <div class="content">
                <img src="" alt="">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                </p>
            <a href="{{ path('tp_show')}}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

            <article>
                <h2>Titre de l'article</h2>
                <div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                    </p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                    </p>
                <a href="{{ path('tp_show')}}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>

            <article>
                <h2>Titre de l'article</h2>
                <div class="metadata">Ecrit le 30/12/2019 à 14:44 dans la catégorie Politique</div>
                <div class="content">
                    <img src="" alt="">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                    </p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque quam,
                    dignissim eu arcu ut, sagittis vestibulum odio. Sed nec tortor diam. Phasellus 
                    arcu massa, posuere sed sem eu, dapibus hendrerit lorem. Vivamus varius lorem eu
                    magna laoreet tristique. Fusce sed arcu dictum
                    </p>
                <a href="{{ path('tp_show')}}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
    </section>
{% endblock %}
